.middle {
    width:1150px;
    height:1500px;
    padding:0;
    margin:0 auto;
    /* border:1px solid black; */
}

.gosu_info_list {
    display:flex;
    justify-content:space-between;
    padding:20px;
    border-bottom:1px solid #eaeaea;
}
.gosu_info {
    float:left;
    width:670px;
}

.gosu_info_list a {
    color:gray;
    font-size:19px;
}

.gosu_information p {
    color:gray;
}
.portfolio_picture_list {
    width:165px;
    height:185px;
    border:1px solid #eaeaea;
    margin-right:50px;
    margin-top:30px;

}
.line {
    width:650px; 
    border-Bottom:1px solid #eaeaea; 
    margin-top:100px;
}
.line2 {
    height:30px;
    border-bottom:1px solid #eaeaea;
}
.profile_review_score {
    font-size:40px;
    color:black;
}

.picture_review {
    width:30px;
    height:30px;
    border-radius:30px;
    background:#eaeaea;
}
.up-to-date {
    margin-left:300px;
}
.up-to-date span {
    font-weight:bold;
    font-size:14px;
}

.profile_reivew {
    display:flex; 
    align-items:center;
    height:50px;
}
.reviewArticle {
    display:flex;
}
.reviewArticle label {
    margin-right:30px;
}
.reviewArticle .zoomgo_proof{
    color:white;
    text-align:center;
    width:250px;
    background:#6799FF;
}

.profile_review_category {
    color:black;
    font-weight:bold;
}
.profile_detail_review_score {
    font-weight:bold;
    font-size:18px;
}

.review_article_detail {
    color:black;
    width:100%;
    height:270px;
}

.detail_review {
    width:500px;
    margin-left:-70px;
    display:flex;
}

.detail_review li {
    margin-left:30px;
    background:#f2f2f2;
    color:gray;
    font-size:14px;
}
.review_article_detail span {
    color:#d2d2d2;
}
.more_review {
    text-align:center;
}
.more_review button {
    border:0;
    width:150px;
    background:none;
    font-size:15px;
}
.qna_box span {
    font-weight:bold;
}
.qna_box p {
    margin-top:10px;
    margin-bottom:40px;
}