.agreement-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    padding: 20px;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }

  .board-aa {
    margin-left: 500px;
    margin-top: 100px;
    width: 819px;
    height: 800px;
    border-color: #808080;
    border-style: solid;
    background-color: transparent;
    border-width: 1px;
    border-radius: 10px;
    margin-bottom: 100px;
  }
  
  
  .agreement-title {
    color: #7d8ff0;
    font-size: 48px; 
    margin-bottom: 80px; 
    text-align: center;
  }
  
  .agreement-subtitle {
    font-size: 30px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .agreement-checkbox-group {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .checkbox-item {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 20px;
  }
  
  .checkbox-item input {
    margin-right: 10px;
  }
  
  .agreement-description {
    font-size: 20px;
    text-align: left;
    color: #888;
    margin-bottom: 60px;
  }
  
  .complete-button {
    background-color: #6b8cff;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
  }
  
  .complete-button:hover {
    background-color: #5a7ae6;
  }
  