.login {
    width: 350px;
    text-align: left;
    padding: auto;;
    margin-left: 800px;
}

.login-input {
    display: flex;
    align-items: center; 
    margin: 5px 0; 
}
.mainlogo {
    color: #6788FF;
    font-size: 60px; 
    margin-bottom: 80px; 
    text-align: center;
}

.password-input {
    display: flex;
    align-items: center; 
    margin: 5px 0; 
}

.forgot-password {
    text-decoration-line: none;
    color: #3FA3FF;
}
.loginpage-form {
    margin-bottom: 80px;
}

.loginopage-button {
    width: 180px;
    padding: 17px;
    border-radius: 20px; 
}

.loginpage-button {
    width: 180px;
    padding: 17px;
    border-radius: 20px; 
    
}

.loginpage-button-form {
    justify-content: center;
    display: flex; 
    margin-bottom: 50px;
}

.registgogo {
    text-align: center;
    margin-left: 20px;
}

.login-main-email {
        font-size: 25px;
        width: 600px;
        height: 30px;
        padding: 12px; 
        background-color: #f0f0f0; 
        border: none; 
        border-radius: 5px; 
    }

.password-main {
    width: 600px;
    height: 30px;
    padding: 12px; 
    background-color: #f0f0f0; 
    border: none; 
    border-radius: 5px; 
}

.forgot-password-link {
    margin-left: 220px;
}
