.form {
    display: flex;
    flex-direction: column;
}

.input-group {
    width: 80%;
    margin-bottom: 15px;
    padding: 10px; 
    margin-left: 7%;


}


.input-group input, 
.input-group select, 
.input-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
}

.description {
    resize: none;
}

.submit-btn {
    width: 150px;
    padding: 10px;
    background-color: hsl(219, 87%, 56%);
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 8%; 
    

}

.submit-btn:hover {
    background-color: hsl(219, 87%, 56%);
}


.custom-select {
    width: 200px;
    position: relative;
    font-family: Arial, sans-serif;
    padding: 10px;
    margin-left: 7%; 


}

.selected {
    background-color: #f3f3f3;
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.selected.active {
    background-color: #d3d3d3;  /* 선택된 항목 강조 */
}

.select-items {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-height: 200px;
    overflow-y: auto;
    background-color: white;
}

.select-items li {
    padding: 10px;
    cursor: pointer;
}

.select-items li:hover {
    background-color: #ddd;
}


/* 선택한 항목을 표시할 때 */
.selected.active + .select-items {
    display: block;
}
