.main-content {
    padding: 20px;
}

.member-list {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.member-list th, .member-list td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

.ban-btn {
    background-color: #5380f4;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.pagination {
    margin-top: 20px;
    text-align: center;
}

.pagination a {
    margin: 0 5px;
    padding: 5px 10px;
    text-decoration: none;
    background-color: #5380f4;
    color: white;
    border-radius: 4px;
}

.divider {
    width: 0.7px;
    height: 80px;
    background-color: #ccc;
}

.main-content {
    padding: 10px;
    max-width: 1200px;
    margin: auto;
    position: relative;
}

.main-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: -27.5%;
    width: calc(100% + 670px);
    border-top: 1px solid hwb(0 77% 23%);
    z-index: -1;
}

.thin-text {
    font-weight: 300;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 20px;
}

.search-bar h2 {
    margin: 0;
}

.search-bar input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.menu-container {
    display: flex;
    border-bottom: 1px solid #ccc;
    margin-top: 20px;
    margin-bottom: 20px;
}

.menu-item {
    padding: 10px 20px;
    background-color: #f5f5f5;
    border-right: 1px solid #ccc;
    cursor: pointer;
}

.menu-item:last-child {
    border-right: none;
}

.menu-item.active {
    background-color: #eaeaea;
    font-weight: bold;
}

.menu-item:hover {
    background-color: #ddd;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination button {
    background-color: #ffffff;
    color: #000000;
    border: none;
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 3px;
}

.pagination button.active {
    background-color: #5380f4;
    cursor: default;
    color: #ffffff;
}

.pagination button.disabled {
    background-color: #ffffff;
    cursor: not-allowed;
}

.pagination button:hover:not(.active):not(.disabled) {
    background-color: #5380f4;
    color: #ffffff;
}
