


.product-actions .dibs {
    margin-right: 10px; /* 이미지와 버튼 사이의 간격을 조정 */
}


.product-actions .dibs img {
    width: 30px;  /* 원하는 가로 크기 */
    height: 30px; /* 원하는 세로 크기 */
}


/* 상품 정보 섹션에 조회수와 올린 시간을 위한 스타일링 */
.product-info-extra {
    display: flex;
    justify-content: flex-start; /* 조회수와 시간을 왼쪽으로 정렬 */
    margin-top: 10px;
    font-size: 14px;
    color: #888888; /* 추가 정보를 위한 더 연한 색상 */
}

.product-info-extra p {
    margin: 0 10px 0 0; /* 오른쪽 여백 추가 */
}

.switch-page {
    text-decoration: none;
    color: white; /* 버튼 텍스트 색상 */
    font-size: 10px;
    background-color: #5380f4; /* 활성화된 버튼의 파란색 배경 */    
    padding: 7px 25px;
    border-radius: 30px; /* 버튼의 둥근 모양 */
    border: none;
}

.switch-page.inactive {
    background-color: #E1E4EC; /* 비활성화된 버튼의 회색 배경 */
    color: #C3C8D0; /* 비활성화된 버튼의 텍스트 색상 */
}

.switch-page:hover {
    cursor: pointer;
    background-color: #527ACC; /* 마우스 오버 시 파란색 버튼 색상 변경 */
}


.product-channel {
    display: flex;
    align-items: center;
}

.product-channel p {
    font-size: 12px; /* 원하는 크기로 설정하세요 */
    color: hsl(0, 0%, 46%); /* 회색으로 설정 */

}
.product-details-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
}

.info-item {
    text-align: center;
    width: 20%; /* 전체 박스의 가로 크기 축소 */
    margin: 0 auto; /* 가로 중앙 정렬 */

}

.info-item p:first-child {
    color: gray;
    font-size: 10px;
}

.info-item p:last-child {
    font-weight: bold;
    font-size: 15px;

}

.divider {
    width: 0.7px; /* 가로 비율 축소 */
    height: 80px; /* 세로 크기 조정 */
    background-color: #ccc;
}

.transaction-status {
    margin-left: 1%; /* 상품명과 거래 상태 사이에 여백 추가 */
    color: #3867d6; /* 흰색 텍스트 */
    padding: 5px 10px; /* 여백 추가 */
    border-radius: 5px; /* 둥근 모서리 */
    font-size: 20px; /* 폰트 크기 */
    font-weight: bold;
}

.button img {
    width: 35px;  /* 이미지의 너비를 35px로 설정 */
    height: 35px; /* 이미지의 높이를 35px로 설정 */
    margin-left: 0.5%; /* 각 이미지 간의 간격 */
}

/* 첫 번째 링크의 텍스트(채팅)를 위로 이동 */
.button a:first-child {
    position: relative;
    top: -10px;
    font-size: 16px;
}


.product {
    display: flex; /* 이미지와 상세 정보를 나란히 배치 */
    align-items: flex-start; /* 이미지와 상세 정보가 위쪽 정렬 */
    padding: 10px;
    background-color: #ffffff;
    margin-bottom: 20px;
    border-bottom: 1px solid hwb(0 77% 23%);;
}


.product-name h1 {
    font-weight: 500; /* 글씨 굵기를 얇게 설정 */
}


.product-image {
    width: 500px;
    height: 500px;
    background-color: #e0e0e0; /* 이미지 배경색 */
    margin-right: 20px; /* 이미지와 상세 정보 사이 간격 */
}

.product-details {
    flex: 1; /* 상세 정보가 남은 공간을 차지하도록 설정 */
    padding-left: 10px; /* 상세 정보 좌측 여백 */
    display: flex;
    flex-direction: column; /* 상세 정보 안의 내용들을 세로로 배치 */

}



.product-actions {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.product-actions button {
    padding: 8px 55px;
    background-color: #3867d6;
    color: #ffffff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin-right: 20px;
    font-size: 15px;
    font-weight: 500; /* 글씨 굵기를 얇게 설정 */
}

.product-info {
    display: flex;
    justify-content: space-between;
}

.product-info div {
    margin-right: 10px;
    padding: 5px;
    background-color: #ffffff;
    border: 1px solid hwb(0 77% 23%);; /* 얇은 회색 선으로 구분 */
    border-radius: 4px;
}

.info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.info-block {
    width: 48%;
    padding: 20px;
    background-color: #ffffff;
}


.store-info {
    display: flex;
    align-items: center;
    width: 48%;
    padding: 20px;

}

.store-image {
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    margin-right: 20px;
}

.store-rating {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.comments {
    padding: 20px;
    background-color: #ffffff;
    border-top: 1px solid hwb(0 77% 23%); /* 얇은 회색 선으로 구분 */
    margin-bottom: 20px;
}

.comment {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.comment-image {
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 50%;
    margin-right: 10px;
}

.similar-products {
    padding: 20px;
    background-color: #ffffff;
    border-top: 1px solid hwb(0 77% 23%); /* 얇은 회색 선 */
}

.similar-product {
    display: inline-block;
    width: 22%;
    margin-right: 10px;
    text-align: center;
    border: 1px solid hwb(0 77% 23%); /* 제품 간 얇은 회색 선 */
    border-radius: 4px;
}

.similar-product-image {
    width: 100%;
    padding-top: 100%;
    background-color: hwb(0 77% 23%);
    margin-bottom: 10px;
}