
.regist_section {
    width: 800px;
    margin-top:20px;
    padding:0;
    position: absolute;
    height: 800px;
    top:100px;
    left:500px;
    border: 1px solid #818181a2;
    
}

.regist_section button {
    border:0;
}
.regist_section h1 {
    color:#6788FF;
    font-size:60px;
    /* text-align: center; */
}
.registBox {
    width: 800px;
    height: 800px;
    margin: 0 auto;
    border-radius: 20px;
    text-align: center;
    
}
.firstInfo {
    margin-top:40px;
    display: flex;
    
}
.name {
    margin-left:210px;
    margin-right:110px;
}
.firstInfo .password {
    margin-left:-20px;
    width:200px;
}
.firstInput {
    margin-left:10px;
}
.firstInput_password {
    width:255px;
    height:40px;
    margin-right:60px;
}
.firstInput_user_name {
    width:110px;
    height:40px;
    margin-right:20px;
}
.firstInput_user_first_name {
    width:110px;
    height:40px;
}
.registBox input {
    padding:10px;
    background: #EFEFEF;
    border:0;
    color:black;
}

.secondInfo {
    display:flex;
    margin-top:0px;
}
.nickname {
    margin-top:20px;
}
.second_password {
    margin-top:20px;
    text-align: left;
    width:390px;
    margin-left:60px;
    margin-right:-50px;
}
.secondInput {
    display: flex;
    margin-left:60px;
}
.password_second {
    margin-right:60px;
}
.password_check {
    width:255px;
    padding:10px;
    height:40px;
}
.addressBox {
    margin-top:20px;
    display:flex;
    align-items: center;
    margin-left:20px;
    
}
.address_input {
    width:250px;
    height:30px;
}
.address_button {
    width:130px;
    height:50px;
    background: #6788FF;
    color:white;
    font-size:20px;
    border-radius:20px;
    margin-left:20px;
}
.address_detail {
    display:flex;
    align-items: center;
    margin-top:30px;
}
.address_detail input {
    width:580px;
    height:30px;
}
.password_test {
    text-align: left;
    margin-left:100px;
    color:red;
}
.birth_phone {
    margin-top:30px;
    display:flex;
}
.birth_phone_input {
    text-align: left;
    display: flex;
}
.phone {
    width:200px;
    padding:15px;
    height:30px;
}
.birth {
    text-align: left;
    width:200px;
    margin-left:70px;
    margin-right:40px;
}
.birth_input {
    margin-left:70px;
    margin-right:40px;
    padding:10px;
    height:30px;
    width:200px;
}
.phone_input {
    width:200px;
    height:30px;
    padding:10px;
}
.phone_input::placeholder {
    font-size:20px;
    color:#9F9F9F;
}
.sex {
    margin-top:20px;
    position: absolute;
    left:110px;
    text-align: left;
    border-radius: 10px;
}
select {
    width:100px;
    padding:10px;
    height:40px;
}

.regist_button {
    margin-top:20px;
    margin-left:420px;
    width:200px;
    height:70px;
    background:#6788FF;
    color:white;
    border-radius: 20px;
}