.chat_container {
    display: flex;
    height: 100vh;
    width: 100%;
    background-image: url("../image/bg.PNG");
    background-size: cover;
    justify-content: center;
    align-items: center;
    color: white;
}

.chat_content {
    display: flex;
    height: 90%;
    width: 90%;
    background-color: rgba(17,25,30,0.75);
    backdrop-filter: blur(10px) saturate(180%);
    border-radius: 12px;
    border: 1px solid rgba(255,255,255,0.125);
}