.forgot-password-container {
    max-width: 400px;
    height: 200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  

  
  .form-group {
    margin-bottom: 15px;
  }
  

  


  .send-code-btn {
    margin-top: 10px;
  }
  
  .reset-password-btn {
    margin-top: 20px;
  }
  
  .message {
    margin-top: 15px;
    text-align: center;
    color: green;
    font-weight: bold;
  }
  